<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UI基础</key>
	<array>
		<string>汤姆猫</string>
		<string>应用管理</string>
		<string>超级猜图</string>
		<string>图片放大</string>
		<string>图片轮播器</string>
		<string>汽车嵌套模型</string>
		<string>团购</string>
		<string>微博</string>
		<string>QQ好友列表</string>
		<string>QQ聊天</string>
		<string>瀑布流</string>
	</array>
	<key>UI进阶</key>
	<array>
		<string>国旗</string>
		<string>省市联动</string>
		<string>私人通讯录</string>
		<string>View的拖拽</string>
		<string>手势识别</string>
		<string>手势识别2</string>
		<string>图层的基本使用</string>
		<string>网易彩票</string>
	</array>
	<key>多线程&amp;网络</key>
	<array>
		<string>NSURLConnection常用方法</string>
		<string>Socket建立连接</string>
	</array>
</dict>
</plist>
